* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body, main {
  margin: 0 auto;
  width: 100%;
  /* border: 2px solid #125472; */
}
.container {
  /* border: 2px solid #125472; */
  margin: 0 auto;
  /* border: 1px solid greenyellow; */
  width: 95%;

}
.mid_container{
  display: flexbox;
  margin: 0 auto;
  /* border: 1px solid tomato; */
  width: 99%;
}
.post_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* display: inline; */
  
}
.post{
  font-size: 1.5em;
  /* margin: 0 auto; */
  margin: 5px;
  /* background-color: blue; */
  /* border: 1px solid #000; */
}
article a {
  text-decoration: none;
  color: #000;
}
.t404__link  {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  height: auto;
}
@media all and (max-width: 500px) {
  .post_container{
    display: inline;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;    
  }
  .post{
    /* margin: 0 auto; */
    
    margin: 5px;
    /* height: 30%;
    width: 20%; */
    /* background-color: blue; */
    /* border: 1px solid #000; */
  }
}