* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}
body, main, div{
  margin: 0;
  padding: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  background-color: rgb(31, 88, 88);
  height: auto;
}
.card{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(65, 116, 116);
  margin: 20px 20px 0px 20px;
  border-radius: 15px;
}
h1{
  /* text-align: left; */
  color: beige;
  font-size: 1.5em;
  margin: 20px 3px;
}
p{
  margin: 20px 5px;
  color: #353535;
}